@import "mq";
@import "fonts";

$accentbackground: #f6f6f6;

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

//.element-atom,
//.interactive-atom {
//    margin: 0 !important;
//}

.anotherthing {
    overflow: auto;
   margin-top: 2em;
    padding-top: 1em;
    background: $accentbackground;
    margin-left: -10px;
    padding-left: 10px;
    margin-right: -10px;
    padding-right: 10px;
    padding-bottom: 10px;
//        background-size: contain;
//	    background-repeat: no-repeat;
//	    background-position: right;

> figure {
    background: $accentbackground !important;
    
}


        > h2 {
            font-family: "Guardian Egyptian Web", Georgia;
            font-size: 28px;
            line-height: 32px;
            font-weight: 200;
            color: #333;
            margin-bottom: 8px;
     a {
       border-bottom: none;
     }

        }

        & {
		.js-graph header span{
			color:black;
		}
        }

        p {
            color: black;
        }
        p > a {
            color: black;
        }
}

h2.gv-brexit-heading {
    margin: 0;
	margin-bottom: 20px;
    max-width: 420px;
    font-family: "Guardian Egyptian Web", Georgia;
    font-size: 28px;
    line-height: 32px;
    font-weight: 200;
    color: #333;
    margin-bottom: 8px;
  a {
    text-decoration: none;
    border-bottom: none;
  }


}



h2.gv-strap {
    margin: 0;
	max-width: 420px;
  clear: both;
	@include fs-bodyHeading(1);
	color: #333;
	font-weight: bold;
    border-bottom: 1px dotted #767676;
}

.gv-brexit-chart {
        margin-left: 0px !important;
		width: 300px !important;
		margin-right: 20px !important;
		float: left !important;

       @media (max-width: map-get($mq-breakpoints, tablet)) {
	  width: 100% !important;
	}
}

.diptychwrapper {
    margin-top: 1em;
    margin-bottom:0.5em;
    clear:both;
}


.diptych-half {

    margin-bottom: 0.75rem !important;

    @media (min-width: 414px) {

        width: calc(50% - 5px) !important;
        display: inline-block;
        padding-right: 5px;
    
    }
}

.diptych-right {
    @media (min-width: 414px){
        float: right;
        margin-top: 0px !important;
    }

}

.gv-footnote {
    margin-top: 35px;
    > h2 {
        @include fs-textSans(3);
		font-weight: bold;
		color: #000;
		font-size: 16px;
		margin-bottom: 0px;
    }
    > p {
        margin-top: 0.5em;
        @include fs-textSans(2);
    	color: #767676;
    }
}
